.NotAuth {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
}

.NotAuth button {
    margin-top: 2rem;
    background-color: #0000;
    color: white;
    border-width: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px;
}


.NotAuth button:hover {
    background-color: #0002;
}